<ng-container *ngIf="ordersUpto2Rows.length > 0;">
    <div class="grid-container" *ngFor="let item of ordersUpto2Rows">
        <div class="grid-item">{{ item.TYPE }}</div>
        <div class="grid-item">{{ item.articleFrom }}</div>
        <div class="grid-item">{{ item.description }}</div>
    </div>
</ng-container>
<ng-container *ngIf="checkRows; else elseCheckTemplate">
    <div class="alignbutton">
        <button class="button" (click)="showMore()">Load More</button>
    </div>
</ng-container>
<ng-template #elseCheckTemplate>
    <div class="alignbutton">
        <h2>No more items!</h2>
    </div>
</ng-template>